.simpleButton {
    display: block;
    margin: 0.3em 0.3em;
    height: 3em;
    width: 7em;
    background: #ffc048;
    transform: skewX(170deg);
    cursor: pointer;
    border: none;
}
.simpleButton:hover {
    transform: skewX(170deg) scale(1.1);
    border: 1px solid #1e272e;
}

@media screen and (max-width: 600px) {
    .simpleButton {
        margin: 0.3em 0.2em;
        width: 6em;
    }
}