.portfolioPage {
    min-height: 100%;
    padding: 0 5vw;
    border-bottom: 1.5px solid #808e9b;
}

.portfolioTitle {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 10%;
    width: 100%;
}

.portfolioContainer {
    min-height: 90%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*----- potfolioItem -----*/

.portfolioItemContainer {
    height: 40vh;
    width: 56vh;

    margin: 1vh;
}
.portfolioItemImage {
    height: 100%;
    width: 100%;

    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 15%;
    background-size: contain, 87% 69%;
}

/*----- potfolioItem IMAGE-----*/
.portfolioItemMip {
    background-image: url('image/desktop.png'),
    url('image/mip.png');
}
.portfolioItemJrss {
    background-image: 	url('image/desktop.png'),
    url('image/jrss.png');
}
.portfolioItemPchelyprosto {
    background-image: 	url('image/desktop.png'),
    url('image/pchelyprosto.png');
}
.portfolioItemIrlndMap {
    background-image: 	url('image/desktop.png'),
    url('image/irlndMap.jpg');
}
.portfolioImageEditor {
    background-image: 	url('image/desktop.png'),
    url('image/ImageEditor.png');
}
.portfolioMovieStatistic {
    background-image: 	url('image/desktop.png'),
    url('image/movieStat1.png');
}
/*----- ---- -----*/
.portfolioItemFigcaption {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80%;

}
.portfolioItemFigcaption h3 {
    display: block;
    max-width: 80%;
    margin: auto;
    text-align: center;

    box-shadow: inset 0 0 60px 0 rgb(210, 218, 226);
    border: none;
    border-radius: 2px;
}
.portfolioItemStackTehn {
    width: 80%;
    margin-bottom: 2em;
    text-align: center;

    transition: all 0.5s ease-out;
    transform: translateY(3em);
    opacity: 0;
}
.closeButton,
.portfolioItemDescription {
    display: none;
}

/*----- potfolioItemContainer hover-----*/

.portfolioItemContainer:hover > .portfolioItemFigcaption {
    background: rgba(210, 218, 226, 0.71);
}
.portfolioItemContainer:hover > .portfolioItemFigcaption h3 {
    box-shadow: none;
}
.portfolioItemContainer:hover > .portfolioItemFigcaption .portfolioItemStackTehn{
    transform:  none;
    opacity: 1;
}

/*----- potfolioItemContainer expand -----*/
.portfolioItemContainer.expand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 5%;
    left: 5%;
    width: 86%;
    height: 86%;
    padding: 2%;
    margin: 0;

    z-index: 101;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffdd59;
    box-shadow: 0 0 0 20vh rgba(128, 142, 155, 0.7);
    cursor: auto;
}
.portfolioItemContainer.expand .portfolioItemImage {
    flex-shrink: 0;
    height: 55vh;
    width: 77vh;
}
.portfolioItemContainer.expand .portfolioItemFigcaption {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    margin-top: 1em;
}
.portfolioItemContainer.expand .portfolioItemFigcaption h3 {
    display: block;
    margin: 0;
    text-align: center;

    box-shadow: none;

    font-size: 3vw;
}
.portfolioItemContainer.expand .portfolioItemStackTehn {
    width: 80%;
    margin-bottom: 2em;
    text-align: center;

    transition: none;
    transform: none;
    opacity: 1;
}
.portfolioItemContainer.expand .portfolioItemDescription  {
    display: block;
}
.portfolioItemContainer.expand .closeButton {
    display: block;
    position: fixed;
    top: 0;
    right: 5%;
    width: 5vh;
    height: 5vh;
    background: none;
    border: none;
    cursor: pointer;
}
.portfolioItemContainer.expand .closeButton:hover {
    background: rgba(72, 84, 96, 0.7);
}
.portfolioItemContainer.expand .closeButton::after,
.portfolioItemContainer.expand .closeButton::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: #d2dae2;
}
.portfolioItemContainer.expand .closeButton::after {
    transform: rotate(45deg);
}
.portfolioItemContainer.expand .closeButton::before {
    transform: rotate(-45deg);
}
/*----- potfolioItemContainer expand hover-----*/

.portfolioItemContainer.expand:hover > .portfolioItemFigcaption {
    background: none;
}
.portfolioItemContainer.expand:hover > .portfolioItemFigcaption h3 {
    box-shadow: none;
}
.portfolioItemContainer.expand:hover > .portfolioItemFigcaption .portfolioItemStackTehn{
    transform:  none;
    opacity: 1;
}

/*"телефон"*/
@media screen and (max-height: 700px) and (max-width: 700px) {

}

/*"телефон" вертикальная ориентация*/
@media screen and (max-height: 850px) and (max-width: 500px) {
    .portfolioItemContainer,
    .portfolioItemContainer.expand .portfolioItemImage {
        height: 50vw;
        width: 75vw;
    }

    /*----- potfolioItemContainer expand -----*/

}

/*"телефон" лэндскейп*/
@media screen and (max-height: 500px) and (max-width: 850px) {

}