@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body,
.App,
.contentContainer {
    height: 100%;
    width: 100%;
    font-size: 16px;
    background-color: #e5e5e5;
    color: #3c4858;
}
body {
    height: calc(100% - 4em + 1px);
}
.contentContainer {
    margin-top: calc(4em - 1px);
}
@media screen and (max-width: 600px) {
    html,
    body,
    #root,
    .App,
    .contentContainer {
        font-size: 3.2vw;
    }

}

