html,
body,
#root,
.App,
.contentContainer {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin-top: calc(4em - 1px);
}
@media screen and (max-width: 600px) {
    html,
    body,
    #root,
    .App,
    .contentContainer {
        font-size: 3.2vw;
    }

}