/*------------ HeaderMenu menu style ------------*/
.headerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    height: 7vh;
    width: 100%;

    background-color: #BBBBBB;
    z-index: 99;
}
.headerMenu ul {
    padding-inline-start: 0;
    margin-block-start: 1em;
}

/*------------ list menu style ------------*/
.menuList {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 2vw;
}
.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2em 0.5em;
    height: auto;
    width: 7em;
    background: #AAAAAA;
    transform: skewX(170deg);
 }
.menuItem:hover {
    transform: skewX(170deg) scale(1.1);
    border: 1px solid black;
}
.headerMenu a {
    text-decoration: none;
    color: black;
}

/*----- PullDowmMenu -----*/
.pullDownMenu {
    margin-right: 2vw;
}

.pullDownMenu .pullDownMenuButton {

}
.pullDownMenu .pullDownMenuList {
    display: none;

    position: fixed;
    top: 7vh;
    right: 2vw;
    background: #BBBBBB;
}
/* menu is expand*/
.pullDownMenu .menuButton input:checked ~ .pullDownMenuList {
    display: block;
}

/*----- PullDowmMenu Button-----*/
.pullDownMenu .menuButton {
    display: block;

    width: 38px;
    height: 38px;
}
.pullDownMenu  .menuButton .menuInput {
    display: none;
}
.pullDownMenu  .menuButton .menuLabel {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #717070;
    color:  #717070;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    background: transparent;
    cursor: pointer;
}
.pullDownMenu  .menuButton .menuLabel:hover {
    border: 1px solid black;
    color:  black;
}
/* menu is expand*/
.pullDownMenu .menuButton input:checked + .menuLabel {
    border: 1px solid green;
    color:  green;
}

/* menu is open*/
.open .menuList {
    display: block;
    position: absolute;
    top: 15%;
    left: 25%;
    height: 40%;
}

.menu.open {
    position: fixed;
    height: 100%;
    width: 100%;
}