/*------------ HeaderMenu menu style ------------*/
.headerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    height: 7vh;
    width: 100%;

    background-color: #BBBBBB;
    z-index: 99;
}


/*------------ list menu style ------------*/
.menuList {
    display: flex;
    flex-direction: row;

    margin-left: 2vw;
    padding-inline-start: 0;
}
.menuItem {
    display: block;
    margin: 0 1vw;

}


/*----- PullDowmMenu -----*/
.pullDowmMenu {

}

.pullDowmMenu .pullDownMenuButton {

}
.pullDowmMenu .pullDownMenuList {
    display: none;
}
/* menu is expand*/
.pullDowmMenu .pullDownMenuButton expand{

}
.pullDowmMenu .pullDownMenuList expand{

}

/*----- PullDowmMenu Button-----*/
.pullDowmMenu .menuButton {
    display: block;

    width: 38px;
    height: 38px;
}

.pullDowmMenu  .menuButton .menuInput {
    display: none;
}
.pullDowmMenu  .menuButton .menuLabel {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #919191;

    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    background: transparent;
    cursor: pointer;
}


/* menu is open*/
.open .menuList {
    display: block;
    position: absolute;
    top: 15%;
    left: 25%;
    height: 40%;
}

.menu.open {
    position: fixed;
    height: 100%;
    width: 100%;
}