.resumePage {
    min-height: 100%;
    padding: 0 5vw;
    border-bottom: 1.5px solid #808e9b;
}

.resumeTitle {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 10%;
    width: 100%;
}

.resumeContainer {
    min-height: 90%;
    width: 100%;
}

/*----- experience -----*/

.resumeSubContainer1 {
    width: 100%;
    min-height: 65%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.resumeItemContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2vh;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-flow: dense;

    padding: 2vh;
    margin: 1vh;
    border: 0.3em solid #485460;
}
.resumeItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.resumeItem.big {
    grid-row: span 2;
    height: 42vh;
    width: 31.5vh;
}
.resumeItem.small {
    height: 20vh;
    width: 15vh;

    font-size: 0.8em;
}
.resumeItemTitle {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    color: #1e272e;

    background: #ffc048;
    border: 1px solid #1e272e;
}
.resumeItemTitle:hover {

}
.resumeSubContainer1 .resumeItem h3,
.resumeSubContainer1 .resumeItem h4 {
    background: rgba(210, 218, 226, 0.85);
    z-index: 1;
    overflow: hidden;
    width: 90%;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.resumeSubContainer1 .resumeItem.small h3,
.resumeSubContainer1 .resumeItem.small h4 {
    margin: 0;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.resumeSubContainer1 .resumeItem.small h3 {
    margin-bottom: 0.5em;
}

/*----- baclground image -----*/

.resumeItemBackImgCont {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.resumeItemImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----- skills -----*/

.resumeSubContainer2 {
    width: 100%;
    min-height: 35%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 0.3em solid #485460;

    margin: 0.5em 0;
}

.resumeSkillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.33em;
}
.resumeSkillContainer .resumeSkillCircleContainer {
    position: relative;
}
.resumeSkillContainer .resumeSkillCircleContainer span{
    font-size: 25px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resumeSkillContainer h4 {
    margin: 1.33em 0;

}

/*"телефон"*/
@media screen and (max-height: 850px) and (max-width: 850px) {

}

/*"телефон" вертикальная ориентация*/
@media screen and (max-height: 850px) and (max-width: 500px) {
    .resumeItem.big {
        height: 70vw;
        width: 52.5vw;
        font-size: 5vw;
    }
    .resumeItem.small {
        height: 34vw;
        width: 25.5vw;
        font-size: 2vw;
    }
    .resumeItemContainer {
        grid-gap: 2vw;
    }
    /*----- potfolioItemContainer expand -----*/

}

/*"телефон" лэндскейп*/
@media screen and (max-height: 500px) and (max-width: 850px) {

}