.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
.headerTitle {
    display: flex;
}
.headerTitle .logo {
    flex-shrink: 0;
}

.nameProf {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
}
.nameProf .name,
.nameProf .profession {
    display: flex;
    align-items: center;
}
.nameProf .name {
    height: 60px;

    font-size: 40px;
    margin-right: 10px;
}
.nameProf .profession {
    font-size: 20px;
}

.stackTechnologies {
    font-size: 25px;
    text-align: center;
}
.stackTechnologies .technologies {


}

/*"телефон"*/
@media screen and (max-height: 700px) and (max-width: 700px) {

}

/*"телефон" вертикальная ориентация*/
@media screen and (max-height: 700px) and (max-width: 500px) {
    .headerTitle {
        justify-content: center;
    }
    .nameProf {
        width: min-content;
    }
}

/*"телефон" лэндскейп*/
@media screen and (max-height: 500px) and (max-width: 700px) {

}

/*режим 1 для стека технологий*/
@media screen and (max-width: 500px) {
    .nameProf .name {
        border-bottom: 1px solid black;
    }
}
/*режим 2 для стека технологий*/
@media screen and (min-width: 520px) {
    .stackTechnologies {
        max-width: 500px;
        width: calc(100% - 120px);
        position: relative;
        bottom: 65px;
        left: 120px;
        border-top: 1px solid black;
        padding-top: 10px;
        text-align: left;
        margin-left: 5px;
    }
}