.header {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.headerTitle {
    display: flex;
}
.headerTitle .logo {
    flex-shrink: 0;
}

.nameProf {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
}
.nameProf .name,
.nameProf .profession {
    display: flex;
    align-items: center;
}
.nameProf .name {
    height: 60px;

    font-size: 40px;
    margin-right: 10px;
}
.nameProf .profession {
    font-size: 20px;
}

.stackTechnologies {
    font-size: 25px;
    text-align: center;
}
.stackTechnologies .technologies {


}

@media screen and (max-width: 500px) {
    .nameProf .name {
        border-bottom: 1px solid black;
    }
}

@media screen and (min-width: 520px) {
    .stackTechnologies {
        max-width: 500px;
        width: calc(100% - 120px);
        position: relative;
        bottom: 65px;
        left: 120px;
        border-top: 1px solid black;
        padding-top: 10px;
        text-align: left;
    }
}