.homePage {
    height: 100%;
    width: 100%;

    background: url('image/background.png') center;
}

.about {
    display: flex;
    align-items: center;
}

.about .text {
    margin: 0 5%;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
}

.about .text h1 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;;
}

/*"телефон"*/
@media screen and (max-height: 700px) and (max-width: 700px) {
    .homePage {
        height: 200%;
        background: none;
    }
    .about {
        height: 50%;
        width: 100%;
    }
}

/*"телефон" вертикальная ориентация*/
@media screen and (max-height: 700px) and (max-width: 500px) {

}

/*"телефон" лэндскейп*/
@media screen and (max-height: 500px) and (max-width: 700px) {

}