.resumePage {
	min-height: 100%;
	padding: 0 5vw;
	border-bottom: 1.5px solid #808e9b;
}

.resumeTitle {
	display: flex;

	justify-content: center;
	align-items: center;

	min-height: 10%;
	width: 100%;
}

.resumeContainer {
	min-height: 90%;
	width: 100%;
}

/*----- experience -----*/

.resumeSubContainer1 {
	width: 100%;
	min-height: 65%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.resumeItemContainer {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2vh;
	grid-auto-rows: minmax(50px, auto);
	grid-auto-flow: dense;

	padding: 2vh;
	margin: 1vh;
	border: 0.3em solid #485460;
}
.resumeItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.resumeItem.big {
	grid-row: span 2;
	height: 42vh;
	width: 31.5vh;
}
.resumeItem.small {
	height: 20vh;
	width: 15vh;

	font-size: 0.8em;
}
.resumeItemTitle {
	grid-column: 1 / -1;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

	color: #1e272e;

	background: #ffc048;
	border: 1px solid #1e272e;
}
.resumeItemTitle:hover {

}
.resumeSubContainer1 .resumeItem h3,
.resumeSubContainer1 .resumeItem h4 {
	background: rgba(210, 218, 226, 0.71);

	max-width: 80%;
	overflow: hidden;
	position: relative;
	line-height: 1.2em;
	max-height: 3.6em;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
}

.resumeSubContainer1 .resumeItem h3:before,
.resumeSubContainer1 .resumeItem h4:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}
.resumeSubContainer1 .resumeItem h3:after,
.resumeSubContainer1 .resumeItem h4:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 0.5em;
	margin-top: 0.2em;
	background: rgb(210, 218, 226);
	box-shadow: -1em 1em 1em 1em rgba(210, 218, 226, 0.75);
}
/*----- baclground image -----*/
.diplom {
	background-image: url('image/diplom.jpg');
}
.htmlacademy {
	background-image: url('image/htmlacademy.jpg');
}
.utip {
	background-image: url('image/utip.jpg');
}
.neft {
	background-image: url('image/neft2.jpg');
}
.mip {
	background-image: url('image/mip.png');
}
/*----- skills -----*/

.resumeSubContainer2 {
	width: 100%;
	min-height: 35%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border: 0.3em solid #485460;

	margin: 0.5em 0;
}

.resumeSkillContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1.33em;
}
.resumeSkillContainer .resumeSkillCircleContainer {
	position: relative;
}
.resumeSkillContainer .resumeSkillCircleContainer span{
	font-size: 25px;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.resumeSkillContainer h4 {
	margin: 1.33em 0;

}

/*"телефон"*/
@media screen and (max-height: 850px) and (max-width: 850px) {

}

/*"телефон" вертикальная ориентация*/
@media screen and (max-height: 850px) and (max-width: 500px) {
	.resumeItem.big {
		height: 70vw;
		width: 52.5vw;
		font-size: 5vw;
	}
	.resumeItem.small {
		height: 34vw;
		width: 25.5vw;
		font-size: 2vw;
	}
	.resumeItemContainer {
		grid-gap: 2vw;
	}
	/*----- potfolioItemContainer expand -----*/

}

/*"телефон" лэндскейп*/
@media screen and (max-height: 500px) and (max-width: 850px) {

}