.headerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: sans-serif;
    font-size: 16px;
    color: #1e272e;

    position: fixed;
    top: 0;
    height: 4em;
    width: 100%;

    background-color: #ffdd59;
    border-bottom: 2px solid #485460;
    z-index: 99;
}

@media screen and (max-width: 600px) {
    .headerMenu {
        font-size: 3.2vw;
    }
}